%h1 Forum!

= render 'application/menu'

.text
	Hi! My name is Adrian.
.text
	I am a student of Computer Science at the University of Technology in Wrocław. 
.text
	The page you are looking at is my Ruby on Rails project. 
.text
	I hope you will enjoy it!
